{% extends "base.html" %}{% load wagtailcore_tags %}{% load static %}{% load wagtailimages_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="veiwpoint" content="width=device-widt, initial-scale=1.0" /> {% block extra_styles%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/thanks.css' %}">{% endblock %}

</head>

<body>{% block content %}
    <div class="main">
        <div class="bold">
            <div class="tick">
                <div class="boda"></div>
                <div class="sec">
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>