{% extends "home/base.html" %}{% load wagtailcore_tags %}{% load static %}{% load wagtailimages_tags %}
<!DOCTYPE html>
<!-- This site was created in Webflow. https://www.webflow.com -->
<!-- Last Published: Thu Apr 04 2024 08:43:55 GMT+0000 (Coordinated Universal Time) -->
<html lang="en">
    <body>
        {% block sidebar %} 
        {% endblock %}
        {% block content %}
        <section class="section">
            <div class="container">
                <div data-current="Tab 3" data-easing="ease" data-duration-in="300" data-duration-out="100" class="policy-tab w-tabs">
                    <div class="policy-tab-menu w-tab-menu">
                        <a data-w-tab="Tab 1" class="policy-tab-link w-inline-block w-tab-link w--current">
                            <div>Privacy Policy</div>
                        </a>
                        <a data-w-tab="Tab 2" class="policy-tab-link w-inline-block w-tab-link">
                            <div>Refund Policy</div>
                        </a>
                        <a data-w-tab="Tab 3" class="policy-tab-link w-inline-block w-tab-link">
                            <div>Terms &amp; Use</div>
                        </a>
                    </div>
                    <div class="policy-contents w-tab-content">
                        <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
                            <div class="rich-text-block w-richtext">
                                {{self.privacy_policy|richtext}}
                            </div>
                        </div>
                        <div data-w-tab="Tab 2" class="w-tab-pane">
                            <div class="rich-text-block w-richtext">
                                {{self.refund_policy|richtext}}
                            </div>
                        </div>
                        <div data-w-tab="Tab 3" class="w-tab-pane">
                            <div class="rich-text-block w-richtext">
                                {{self.term_and_use|richtext}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
    </body>
</html>
