{% extends 'base.html' %} {% load i18n %} {% block content %}

<div class="display-sign-container batch-container login-container" style="z-index: 1000;">
    <div class="sign-up-container">
        <div class="sign-up-card">
            <h2 class="font-weight-bold">Enter New Password</h2>
            <p>Kindly enter a new password.</p>

            <form action="" method="post">
                {% csrf_token %}
                <div class="form-container">
                    {{ form }}
                </div>
                <input type="submit" class="sign-up-button" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}