{% load wagtailcore_tags %}{% load static %}{% load wagtailimages_tags %}
<footer id="footer" class="footer">
    <div class="container">
        <div class="newsletter-block">
            <div class="w-layout-vflex _10px-gap">
                <div class="_30px-title">Subscribe our newsletter</div>
                <p class="paragraph-300">
                    Subscribe to our newsletter for exclusive updates, promotions,<br/>and exciting news delivered straight to your inbox!
                </p>
            </div>
            <div class="subscription-form-block w-form">
                {% include 'home/subscribe_form.html' %}
            </div>
        </div>
    </div>
    <div class="main-footer">
        <div class="container">
            <div class="footer-wrapper">
                <div class="footer-block first-block">
                    <a href="/" class="navbar-logo-wrapper w-nav-brand">
                        <img src="{% static 'images/tabithastore_logo.jpg' %}" loading="lazy" width="70" alt="" class="site-logo"/>
                    </a>
                    <p class="footer-paragraph">At Tabitha, we curate diverse, quality products ensuring a stress-free shopping experience. Our dedicated team provides prompt support. Join our community.</p>
                    <div class="social-share-icon-container">
                        {% if settings.home.SiteSocial.facebook %}
                        <a href="{{settings.home.SiteSocial.facebook}}" target="_blank" class="footer-social-icon"></a>
                        {% endif %}
                        {% if settings.home.SiteSocial.instagram %}
                        <a href="{{settings.home.SiteSocial.instagram}}" target="_blank" class="footer-social-icon"></a>
                        {% endif %}
                        {% if settings.home.SiteSocial.twitter %}
                        <a href="{{settings.home.SiteSocial.twitter}}" target="_blank" class="footer-social-icon"></a>
                        {% endif %}
                        {% if settings.home.SiteSocial.youtube %}
                        <a href="{{settings.home.SiteSocial.youtube}}" target="_blank" class="footer-social-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #8f9eb2;transform: ;msFilter:;"><path d="M21.593 7.203a2.506 2.506 0 0 0-1.762-1.766C18.265 5.007 12 5 12 5s-6.264-.007-7.831.404a2.56 2.56 0 0 0-1.766 1.778c-.413 1.566-.417 4.814-.417 4.814s-.004 3.264.406 4.814c.23.857.905 1.534 1.763 1.765 1.582.43 7.83.437 7.83.437s6.265.007 7.831-.403a2.515 2.515 0 0 0 1.767-1.763c.414-1.565.417-4.812.417-4.812s.02-3.265-.407-4.831zM9.996 15.005l.005-6 5.207 3.005-5.212 2.995z"></path></svg></a>
                        {% endif %}
                    </div>
                </div>
                <div class="footer-block">
                    <div class="footer-title">Useful Links</div>
                    <div class="list-block">
                        <a href="/" class="footer-link w-inline-block">
                            <div class="footer-link-icon">chevron_right</div>
                            <div>Home</div>
                        </a>
                        <a href="{{ settings.home.ImportantPages.page_url.about }}" class="footer-link w-inline-block">
                            <div class="footer-link-icon">chevron_right</div>
                            <div>About</div>
                        </a>
                        <a href="{{ settings.home.ImportantPages.page_url.contact }}" class="footer-link w-inline-block">
                            <div class="footer-link-icon">chevron_right</div>
                            <div>Contact</div>
                        </a>
                    </div>
                </div>
                <div class="footer-block">
                    <div class="footer-title">Quick Links</div>
                    <div class="list-block">
                        
                        <a href="{% url 'shop:account' %}" aria-current="page" class="footer-link w-inline-block w--current">
                            <div class="footer-link-icon">chevron_right</div>
                            <div>Account</div>
                        </a>
                        <a href="{% url 'authentication:login' %}" class="footer-link w-inline-block">
                            <div class="footer-link-icon">chevron_right</div>
                            <div>Log In</div>
                        </a>
                        <a href="{% url 'authentication:signup' %}" class="footer-link w-inline-block">
                            <div class="footer-link-icon">chevron_right</div>
                            <div>Sign Up</div>
                        </a>
                        <a href="{{ settings.home.ImportantPages.page_url.privacy }}" class="footer-link w-inline-block">
                            <div class="footer-link-icon">chevron_right</div>
                            <div>Privacy policy</div>
                        </a>
                    </div>
                </div>
                <div class="footer-menu-links-wrapper"></div>
                <div class="footer-block subscribe-block">
                    <div class="footer-title">Contact Address</div>
                    <address class="footer-paragraph">
                        {{ settings.home.SiteContact.address }}
                    </address>
                    <div class="w-layout-vflex _10px-gap">
                        <div class="footer-title">Contact Address</div>
                        <div class="horizontal-block-10px-gap">
                            <img src="https://assets-global.website-files.com/65f0219f664a58453bb579a5/65f13c13f60edff8333303ba_phone-call%201.svg" loading="lazy" alt="" class="_16px-svg"/>
                            <div class="paragraph-300"><a href="tel:+{{ settings.home.SiteContact.phone2 }}">{{ settings.home.SiteContact.phone2 }}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container middle-allign">
            <div class="footer-copyright">
                Copyright © <span id="year">2024 </span> CityXplorer LLC
            </div>
        </div>
    </div>
</footer>