<footer id="footer" class="footer">
    <div class="container">
        <div class="newsletter-block">
            <div class="w-layout-vflex _10px-gap">
                <div class="_30px-title">Subscribe our newsletter</div>
                <p class="paragraph-300">
                    Subscribe to our newsletter for exclusive updates, promotions,<br/>and exciting news delivered straight to your inbox!
                </p>
            </div>
            <div class="subscription-form-block w-form">
                <form id="wf-form-Newsletter" name="wf-form-Newsletter" data-name="Newsletter" method="get" class="subscription-form" data-wf-page-id="65f2c446b3b822983c0612d0" data-wf-element-id="afe980d4-4bd0-ae5d-3998-039e387aa004">
                    <input class="subscription-mail-input w-input" maxlength="256" name="Newsletter-Email" data-name="Newsletter Email" placeholder="You Email" type="email" id="Newsletter-Email" required=""/>
                    <input type="submit" data-wait="Please wait..." class="subscription-button w-button" value="Subscribe"/>
                </form>
                <div class="message-sent-notification w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="message-failed-notification w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-footer">
        <div class="container">
            <div class="footer-wrapper">
                <div class="footer-block first-block">
                    <a href="#" class="navbar-logo-wrapper w-nav-brand">
                        <img src="https://assets-global.website-files.com/65f0219f664a58453bb579a5/65f127a7e7e25afdb33b14d2_Logo.webp" loading="lazy" width="70" alt="" class="site-logo"/>
                    </a>
                    <p class="footer-paragraph">At Ecommerce TNC, we curate diverse, quality products ensuring a stress-free shopping experience. Our dedicated team provides prompt support. Join our community.</p>
                    <div class="social-share-icon-container">
                        <a href="https://www.facebook.com/ThemeNcode/" target="_blank" class="footer-social-icon"></a>
                        <a href="https://www.instagram.com/themencode_com/" target="_blank" class="footer-social-icon"></a>
                        <a href="https://twitter.com/ThemeNcode" target="_blank" class="footer-social-icon"></a>
                        <a href="https://www.instagram.com/themencode_com/" target="_blank" class="footer-social-icon"></a>
                    </div>
                </div>
                <div class="footer-block">
                    <div class="footer-title">Useful Links</div>
                    <div class="list-block">
                        <a href="/home" class="footer-link w-inline-block">
                            <div class="footer-link-icon">chevron_right</div>
                            <div>Home One</div>
                        </a>
                        <a href="/home-2" class="footer-link w-inline-block">
                            <div class="footer-link-icon">chevron_right</div>
                            <div>Home Two</div>
                        </a>
                        <a href="/home-3" class="footer-link w-inline-block">
                            <div class="footer-link-icon">chevron_right</div>
                            <div>Home Three</div>
                        </a>
                        <a href="/about" class="footer-link w-inline-block">
                            <div class="footer-link-icon">chevron_right</div>
                            <div>About</div>
                        </a>
                        <a href="/contact" class="footer-link w-inline-block">
                            <div class="footer-link-icon">chevron_right</div>
                            <div>Contact</div>
                        </a>
                    </div>
                </div>
                <div class="footer-block">
                    <div class="footer-title">Quick Links</div>
                    <div class="list-block">
                        <a href="/about" class="footer-link w-inline-block">
                            <div class="footer-link-icon">chevron_right</div>
                            <div>About Us</div>
                        </a>
                        <a href="/faq" class="footer-link w-inline-block">
                            <div class="footer-link-icon">chevron_right</div>
                            <div>FAQ</div>
                        </a>
                        <a href="/shop" aria-current="page" class="footer-link w-inline-block w--current">
                            <div class="footer-link-icon">chevron_right</div>
                            <div>Shop</div>
                        </a>
                        <a href="/log-in" class="footer-link w-inline-block">
                            <div class="footer-link-icon">chevron_right</div>
                            <div>Log-In</div>
                        </a>
                        <a href="/utility/license" class="footer-link w-inline-block">
                            <div class="footer-link-icon">chevron_right</div>
                            <div>Licensing</div>
                        </a>
                    </div>
                </div>
                <div class="footer-menu-links-wrapper"></div>
                <div class="footer-block subscribe-block">
                    <div class="footer-title">Contact Address</div>
                    <p class="footer-paragraph">
                        4517 Washington Ave. Manchester,<br/>Kentucky 39495
                    </p>
                    <div class="w-layout-vflex _10px-gap">
                        <div class="footer-title">Contact Address</div>
                        <div class="horizontal-block-10px-gap">
                            <img src="https://assets-global.website-files.com/65f0219f664a58453bb579a5/65f13c13f60edff8333303ba_phone-call%201.svg" loading="lazy" alt="" class="_16px-svg"/>
                            <div class="paragraph-300">(123) 555-0119</div>
                        </div>
                        <div class="horizontal-block-10px-gap">
                            <img src="https://assets-global.website-files.com/65f0219f664a58453bb579a5/65f13c1371255e3999942adf_email%201.svg" loading="lazy" alt="" class="_16px-svg"/>
                            <div class="paragraph-300">(123) 555-0119</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container middle-allign">
            <div class="footer-copyright">
                Copyright © 2024 Tabitha
            </div>
        </div>
    </div>
</footer>