{% extends "home/base.html" %}{% load wagtailcore_tags %}{% load static %}{% load wagtailimages_tags %}
<!DOCTYPE html>
<!-- This site was created in Webflow. https://www.webflow.com -->
<!-- Last Published: Thu Apr 04 2024 08:43:55 GMT+0000 (Coordinated Universal Time) -->
<html lang="en">
    <body>
        {% block sidebar %} 
        {% endblock %}
        {% block content %}
        <div class="page-wrapper">
            <section class="section">
                <div class="container _2-column-container">
                    <div class="product-images-wrapper">
                        <a href="#" class="product-image-background w-inline-block w-lightbox">
                            <img alt="" loading="lazy" src="{{self.image1.url}}" sizes="(max-width: 479px) 100vw, (max-width: 767px) 70vw, (max-width: 991px) 450px, 36vw" srcset="{{self.image1.url}} 500w, {{self.image1.url}} 800w, {{self.image1.url}} 1080w, {{self.image1.url}}" class="product-image"/>
                            <div class="sale-tag">On Sale</div>
                            <script type="application/json" class="w-json">
                                {
                                    "items": [
                                        {
                                            "url": "{{self.image1.url}}",
                                            "type": "image"
                                        }
                                    ],
                                    "group": "gallery"
                                }</script>
                        </a>
                        <div class="full-height w-dyn-list w-dyn-items-repeater-ref">
                            <div role="list" class="multi-images-wrapper w-dyn-items">
                                <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                    <a href="#" class="multi-images-background w-inline-block w-lightbox">
                                        <img alt="" loading="lazy" src="{{self.image1.url}}" class="multi-image-thumbnail"/>
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [
                                                    {
                                                        "url": "{{self.image1.url}}",
                                                        "type": "image"
                                                    }
                                                ],
                                                "group": "gallery"
                                            }
                                        </script>
                                    </a>
                                </div>
                                <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                    <a href="#" class="multi-images-background w-inline-block w-lightbox">
                                        <img alt="" loading="lazy" src="{{self.image2.url}}" sizes="(max-width: 479px) 100vw, (max-width: 767px) 22vw, 108px" srcset="{{self.image2.url}} 500w, {{self.image2.url}} 800w, {{self.image2.url}} 1080w, {{self.image2.url}} 1260w" class="multi-image-thumbnail"/>
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [
                                                    {
                                                        "url": "{{self.image2.url}}",
                                                        "type": "image"
                                                    }
                                                ],
                                                "group": "gallery"
                                            }
                                        </script>
                                    </a>
                                </div>
                                <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                    <a href="#" class="multi-images-background w-inline-block w-lightbox">
                                        <img alt="" loading="lazy" src="{{self.image3.url}}" sizes="(max-width: 479px) 100vw, (max-width: 767px) 22vw, 108px" srcset="{{self.image3.url}} 500w, {{self.image3.url}} 800w, {{self.image3.url}} 1000w" class="multi-image-thumbnail"/>
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [
                                                    {
                                                        "url": "{{self.image3.url}}",
                                                        "type": "image"
                                                    }
                                                ],
                                                "group": "gallery"
                                            }
                                        </script>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="-webkit-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="product-details-block">
                        <h1 class="product-title">{{self.product_name|title}}</h1>
                        <div class="w-layout-hflex star-wrapper">
                            <div class="star-icon">star</div>
                            <div class="star-icon">star</div>
                            <div class="star-icon">star</div>
                            <div class="star-icon">star</div>
                            <div class="star-icon">star</div>
                        </div>
                        <div class="price-wrapper">
                            <div class="single-product-price">$ {{self.discount_price}} USD</div>
                            <div class="_1px-width-divider hide-in-mobile"></div>
                            <div class="single-product-price compare-price">$ {{self.original_price}} USD</div>
                        </div>
                        
                        <p>{% if self.short_description %}{{self.short_description}}{% else %}No short description available{% endif %}</p>
                        <div class="cart-border-wrapper">
                            
                            <form method="post" action="" class="w-commerce-commerceaddtocartform cart-button-wrapper">
                                {% csrf_token %}
                                <label for="cart_quantity" class="hidden">Quantity</label>
                                
                                <input type="number" pattern="^[0-9]+$" inputMode="numeric" id="cart_quantity" name="cart_quantity" min="1" class="w-commerce-commerceaddtocartquantityinput product-quantity" value="1"/>
                                <input hidden type="text" name='cart_product' value='{{self.id}}'>
                                <input hidden type="text" name='action' value='add'>
                                <input type="submit" data-loading-text="Adding to cart..." class="w-commerce-commerceaddtocartbutton single-page-cart-button" value="Add to Cart"/>
                                <a class="w-commerce-commercebuynowbutton" href="/check-out">Buy</a>
                            </form>
                            {% if self.quantity == 0 %}
                            <div class="w-commerce-commerceaddtocartoutofstock" tabindex="0">
                                <div>This product is out of stock.</div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="product-meta-fields-wrapper">
                            <div class="product-meta">
                                <div class="meta-info-title">SKU:</div>
                                <div class="paragraph-300">{{self.SKU}}</div>
                            </div>
                            <!-- <div class="product-meta">
                                <div class="meta-info-title">Share:</div>
                                <div class="social-share-icon-container">
                                    <a href="https://www.facebook.com/sharer/sharer.php" target="_blank" class="social-share-icon"></a>
                                    <a href="https://twitter.com/intent/tweet" target="_blank" class="social-share-icon twitter"></a>
                                    <a href="https://www.pinterest.com/pin/create/button" target="_blank" class="social-share-icon pinterest"></a>
                                </div>
                            </div> -->
                        </div>
                        <div class="w-layout-vflex _10px-gap">
                            <div class="_18px-title">Payment Method:</div>
                            <div class="w-layout-hflex _10px-gap">
                                <img src="https://assets-global.website-files.com/65f0219f664a58453bb579a5/6603b8cc6bed5d42f9585b2b_Group%2078.webp" loading="lazy" alt="" class="_30px-image"/>
                                <img src="https://assets-global.website-files.com/65f0219f664a58453bb579a5/6603b8cc6bed5d42f9585b29_Group.webp" loading="lazy" alt="" class="_30px-image"/>
                                <img src="https://assets-global.website-files.com/65f0219f664a58453bb579a5/6603b8cc6bed5d42f9585b27_Group%2077.webp" loading="lazy" alt="" class="_30px-image"/>
                                <img src="https://assets-global.website-files.com/65f0219f664a58453bb579a5/6603b8cc6bed5d42f9585b25_Group-2.webp" loading="lazy" alt="" class="_30px-image"/>
                                <img src="https://assets-global.website-files.com/65f0219f664a58453bb579a5/6603b8cc6bed5d42f9585b23_Group-1.webp" loading="lazy" alt="" class="_30px-image"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div data-current="Tab 1" data-easing="ease-out-quad" data-duration-in="500" data-duration-out="500" class="product-details-tab w-tabs">
                        <div class="product-tab-menu w-tab-menu">
                            <a data-w-tab="Tab 1" class="product-tab-link w-inline-block w-tab-link w--current">
                                <div>Description</div>
                            </a>
                            <a data-w-tab="Tab 2" class="product-tab-link w-inline-block w-tab-link">
                                <div>Additional information</div>
                            </a>
                        </div>
                        <div class="product-tabs-contents w-tab-content">
                            <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
                                <div class="description-rich-text w-richtext">
                                    {{self.full_description|richtext}}
                                </div>
                            </div>
                            <div data-w-tab="Tab 2" class="w-tab-pane">
                                <div class="additional-info w-richtext">
                                    {{self.additional_information|richtext}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {% endblock %}
    </body>
</html>
